@model IEnumerable<RecipeBook.Common.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-2">
    <h2>Categories</h2>
    @Html.Action("CategoriesList", "Categories")
</div>


<div class="col-md-8">
    <div class="col-md-12">

        @foreach (var item in Model)
        {

            <dl style="display: inline-block;margin-right:20px;">
                <dd>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </dd>
                <dd>
                    @if (item.PhotoUrl == "")
                {
                        <img src="/no-image-available.png" />
                    }
                    else
                    {
                        <img src="@item.PhotoUrl" />
                    }
                </dd>
                <dd>
                    @Html.RouteLink("Details", new { controller = "Home", action = "Details", _recipeId = item.RecipeId })
                </dd>
            </dl>

        }
    </div>
</div>
