@model IEnumerable<RecipeBook.Common.Models.Recipe>


@if (Model == null)
{
<div style="margin-top:5%">
    <h3>Enter some parameters</h3>
</div>
}
else if (Model.Count() == 0)
{
    <div style="margin-top:5%">
        <h3>Sorry, there are no recipes with such parameters.</h3>
    </div>
}
else
{
    foreach (var item in Model)
    {
        <dl style="display: inline-block;margin-right:20px;">

            <dd>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </dd>
            <dd>
                @if (item.PhotoUrl.IsEmpty())
                {
                    <img src="/no-image-available.png" />
                }
                else
                {
                    <img src="@item.PhotoUrl" />
                }
            </dd>
            <dd>
                @Html.RouteLink("Details", new { controller = "Home", action = "Details", _recipeId = item.RecipeId })
            </dd>
        </dl>

    }
}
