@model IEnumerable<RecipeBook.Common.Models.Recipe>

@if (Model == null)
{
    <div style="margin-top:5%">
        <h3>Enter some parameters</h3>
    </div>
}
else if (!Model.Any())
{
    <div style="margin-top:5%">
        <h3>Sorry, there are no recipes with such parameters.</h3>
    </div>
}
else
{
    foreach (var item in Model)
    {

        <dl class="home-element">
            <dd>

                @if (item.PhotoUrl.IsEmpty())
                {
                    <a href="~/Home/Details/?_recipeId=@item.RecipeId">
                        <img src="~/Images/no_image_available.jpg" />
                    </a>

                }
                else
                {
                    <a href="~/Home/Details/?_recipeId=@item.RecipeId">
                        <img src="@item.PhotoUrl" />
                    </a>
                }

            </dd>
            <dd>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </dd>
            <dd>
                @Html.RouteLink("Details", new { controller = "Home", action = "Details", _recipeId = item.RecipeId })
            </dd>
        </dl>
    }
}
