<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRecipeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8002/RecipeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecipeService"
                contract="RecipeService.IRecipeService" name="BasicHttpBinding_IRecipeService" />
        </client>
    </system.serviceModel>
</configuration>