@model IEnumerable<RecipeBook.Common.Models.Category>

<ul>
    <li>
        @Html.RouteLink("All categories", new { controller = "Home", action = "Index", _categoryId = 0 })
    </li>

    @foreach (var category in Model)
    {
        <li>
            @Html.RouteLink(category.CategoryName, new { controller = "Home", action = "Index", _categoryId = category.CategoryId })
        </li>
    }
</ul>

