@model IEnumerable<RecipeBook.Common.Models.Recipe>

@{
    ViewBag.Title = "Recipe Book";
}
<hr/>
<div class="col-md-2">
    @Html.Action("CategoriesList", "Categories")
    @Html.RouteLink("Advanced search", new { controller = "Search", action = "Search" }, new { @class = "btn btn-primary btn-block" })

</div>


<div class="col-md-9 col-md-offset-1" id="mainPage">
    @Html.Action("RecipeList","Home")
</div>

