@model IEnumerable<RecipeBook.Common.Models.Recipe>

@foreach (var item in Model)
{

    <dl class="home-element">
        <dd>

            @if (item.PhotoUrl.IsEmpty())
                {
                <a href="~/Home/Details/?_recipeId=@item.RecipeId">
                    <img src="~/Images/no_image_available.jpg" />
                </a>

            }
            else
            {
                <a href="~/Home/Details/?_recipeId=@item.RecipeId">
                    <img src="@item.PhotoUrl" />
                </a>
            }

        </dd>
        <dd>
            @Html.DisplayFor(modelItem => item.RecipeName)
        </dd>
        <dd>
            @Html.RouteLink("Details", new { controller = "Home", action = "Details", _recipeId = item.RecipeId })
        </dd>
    </dl>

}
