@model IEnumerable<RecipeBook.Common.Models.Recipe>


<div class="col-md-10">

    <div class="col-md-12">
        <dl class="dl-horizontal">
            @foreach (var item in Model)
            {

                <dd>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </dd>
                <dd>
                    @if (item.PhotoUrl == null)
                    {

                        <img src="/no_images.jpg" />

                    }
                    else
                    {

                        <img src="@item.PhotoUrl" />

                    }
                </dd>

            }
        </dl>

    </div>
</div>

